.leftBlock{
    width: 7%;
    float: left;
    /*background: url(stars.png);*/
    height: 533pt;
    box-shadow: 0 0 10px;
    border: 1pt solid white;
	color: white;
}

.rightBlock{
    width: 7%;
    float: right;
    /*background: url(stars.png);*/
    height: 533pt;
    box-shadow: 0 0 10px;
    border: 1pt solid white;
	color: white;
}

	::-webkit-scrollbar {
    	width: 10px;
	}
 
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 10px black; 
	}
 
	::-webkit-scrollbar-thumb {
    	-webkit-box-shadow: inset 0 0 10px white; 
	}

body {
	background: url(img/background.jpg);
	background-size: 100%;
}


.allBlock{
    width: 80%;
    margin-left: 3%;
	margin-top: 30pt;
    float: left;
    /*border: 1.5pt solid black;
    border-top: 2pt solid black;
    border-bottom: 2pt solid black;
    box-shadow: 0 0 15px;*/
}

.headBlock {
    margin-left: 5%;
	width: 90%;
	height: 130pt;
}

.leftHeadBlock {
	margin-top: 0pt; 
	padding-left: 10pt;
    font-family:  sans-serif;
    font-size: 9.5pt;
    color: white;
	border: 1.5pt solid white;
	text-align: center;
	width: 65%;
	height: 100%;
	box-shadow: 0 0 10px;
	float: left;
}

.rightHeadBlock {
	width: 25%;
	height: 100%;
	border: 1.5pt solid white;
	margin-left: 75%;
	box-shadow: 0 0 10px;
	background: url(img/myTattoo.png) no-repeat;
	background-size: 60% 90%;
	background-position: center; 
	color: white;
}

.contentBlock{
    border: 1.5pt solid white;
    height: 290pt;
    width: 90%;
    overflow: auto;
    padding-bottom: 20pt;
    margin-left: 5%;
    margin-top: 40pt;
    margin-bottom: 30pt;
    color: white;
	box-shadow: 0 0 10px;
    /*background-color: #F5F5F5;*/
}

.labBlock {
    border: 1.5pt solid white;
    width: 20%;
    height: 120pt;
    float: left;
    margin-left: 3.5%;
    margin-top: 19pt;
	padding-top: 3pt;
    text-align: center;
    font-family: monospace;
    background: url(img/pyLogo.png) no-repeat;
    background-size: 40% 40%;
	background-position: bottom;
    box-shadow: 0 0 5px;
	color: white;
}


.bottomBlock {
    border-top: 2pt solid black;
    width: 100%;
    height: 50pt;
    background-color: #F5F5F5;
    text-align: center;
}

h3{
    height: 20%;
    margin-top: 5%;
    margin-bottom: auto;
    font-size: 20pt;
}

.topZero {
    margin-top: 0pt;
}

.goingToPress:hover {
  box-shadow: 0 0 15px;
}

a {
	color: black;
	text-decoration: none;
}

p {
	font-size: 15pt;
}

