/*-------------------------------------------------Global Settings----------------------------------------------------*/
:root {
    --width-dog: 24vw;
    --width-cont-dog: 24.4vw;
    --height-cont-dog: 23vw;
    --height-img-dog: 18vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #6A4162;
    background-color: #D46A92;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #6A4162;
}


#page {
    background-color: #FEFAFA;
    font-family: sans-serif;
    font-weight: bold;
    background-image: url("/content/images/lapki.png");
    background-blend-mode: overlay;
    background-size: 10vw;
}
/*----------------------------------------------End Global Settings---------------------------------------------------*/

/*----------------------------------------------------Header----------------------------------------------------------*/
#header {
    height: 100vh;
    background-image: url("/content/images/BackGround.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#menu-links {
    display: flex;
    position: fixed;
    width: 100vw;
    background-color: #fefafa;
    border-radius: 0 0 1vw 1vw;
    height: 5vw;
    z-index: 100;
}

#menu-links a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#menu-links .nav-logo {
    background-color: #FED1D1;
    width: 28vw;
    border-radius: 0 0 1vw 1vw;
    /*border-right-style: solid;*/
    /*border-bottom-style: solid;*/
    /*border-color: #6A4162;*/
    /*border-width: .2vw;*/
    font-size: 2.5vw;
}

#menu-links .nav-logo2 {
    background-color: #FED1D1;
    border-radius: 0 0 1vw 1vw;
    /*border-right-style: solid;*/
    /*border-bottom-style: solid;*/
    /*border-color: #6A4162;*/
    /*border-width: .2vw;*/
    font-size: 2.5vw;
    display: none;
}

.nav-logo img, .nav-logo2 img {
    width: 90%;
    height: 90%;
}

.nav-main {
    display: flex;
    font-size: 1.2vw;
    width: 71vw;
    justify-content: space-around;
}

.nav-main li {
    display: block;
    width: calc(79vw / 6 + var(--i));
    align-self: center;
}

.nav-main .navigate {
	user-select: none;
    margin: 0 0.5vw;
    padding: 0.4vw 0;
    transition: all .1s, border-radius step-start;
    border-radius: 2vw;
}

.navigate:hover {
    transform: scale(1.1);
}

.nav-main .navigate:hover {
    border: solid .2vw;
}

.nav-main .navigate:active {
    background-color: #FED1D1;
}

#head-inform {
    position: absolute;
    padding: 1vw;
    text-align: -webkit-center;
    background: rgba(106, 65, 98, 0.4);
    color: #FED1D1;
    width: 100%;
    bottom: 0;
    text-shadow: black 0 0 3px;
}

.block-pit {
    display: flex;
    width: 87%;
    align-items: center;
    justify-content: space-between;
}

.tex {
    font-size: 4vw;
}

.soc {
    display: flex;
}

.soc .icon {
    margin: 0 1vw;
    overflow: hidden;
    border-radius: 100%;
    border: solid .2vw;
}

.block-pit .icon {
    width: 3.3vw;
    height: 3.3vw;
    font-size: 3vw;
}

.instagram {
    color: #fff;
    background : linear-gradient(47deg, rgba(246, 100, 14, 1) 15%, rgba(186, 3, 167, 1) 45%, rgba(106, 1, 185, 1) 74%);
}

.facebook {
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 178, 255, 1) 0%, rgba(0, 175, 255, 1) 50%, rgba(0, 106, 255, 1) 100%);
}

.instagram:hover {
    color: #FED1D1;
    background : linear-gradient(0deg, rgba(246, 100, 14, 1) 5%, rgba(186, 3, 167, 1) 55%, rgba(106, 1, 185, 1) 95%);
    transform: scale(1.05);

}

.facebook:hover {
    color: #FED1D1;
    background: linear-gradient(180deg, rgba(0, 178, 255, 1) 0%, rgba(0, 106, 255, 1) 100%);
    transform: scale(1.05);
}

.instagram:active {
    color: #CB61B6;
    background: #F7D4F4;
}

.facebook:active {
    color: #CB61B6;
    background: #D3EFFE;
}

/*fix position button up*/
#topChi {
    display: none;
    position: fixed;
    text-align: center;
    right: 3vw;
    bottom: 120px;
    width: 3.7vw;
    height: 3.7vw;
    border-radius: 100%;
    /*color: #edc2c6;*/
}

#topChi:hover {
    border: double .2vw;
}

#topChi:active {
    background-color: #FED1D1;
}

#topChi img {
    width: 3vw;
    height: 3vw;
    transform: rotate(-90deg);
}

/*--------------------------------------------------End Header--------------------------------------------------------*/

/*----------------------------------------------------Content---------------------------------------------------------*/
#container {
    margin: 0 10vw;
}

.linear {
    border-radius: 10vw;
    border: 3px none rgba(106, 65, 98, 0.3);
    border-top-style: solid;
    margin: 25px 0 10px;
}

.contents {
    text-align: center;
    border-radius: 1vw;
    transition: all .2s;
}

.contents:last-child {
    margin-bottom: 2vw;
}

.contents:hover {
    background: rgba(254, 209, 209, 0.2);
    box-shadow: 0 10px 13px -7px #6A4162, 5px 5px 15px 5px rgba(0,0,0,0);
}

.label {
    display: block;
    position: relative;
    top: -5vw;
    visibility: hidden;
}

.titles {
    text-align: center;
    padding: 2vw 0;
}
/*--------------------------------------------------End Content-------------------------------------------------------*/

/*---------------------------------------------------About-us---------------------------------------------------------*/
.about-us {
    display: block;
    font-weight: normal;
}

.my-text {
    min-height: 28vw;
    margin-bottom: 10px;
    padding: 0 2vw;
}

.text-about {
    display: inline-block;
    padding: 2vw;
    text-align: left;
    vertical-align: top;
    max-width: 60%;
}

.about-us img.MyPhoto {
    /*float: left;*/
    width: 20vw;
    height: 27vw;
}

.about-us img.sert {
    width: 30vw;
    height: 20vw;
}
/*-----------------------------------------------End About-us---------------------------------------------------------*/

/*----------------------------------------------------Dog-------------------------------------------------------------*/
.content {
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 3vw;
}

/*.dog-slide {*/
/*    cursor: pointer;*/
/*    width: 5vw;*/
/*}*/


/*.dog-previous {*/
/*    transform: rotate(180deg);*/
/*}*/

.but-all-content {
    position: absolute;
    bottom: 0;
    font-size: 1.3vw;
    margin-bottom: 0.5vw;
    user-select: none;
}

.but-all {
    display: none;
    cursor: pointer;
    padding: 0 0.4vw;
    border-radius: 0.6vw;
    border: solid .1vw;
}

.but-all:hover{
    transform: scale(1.1);
}

.but-all:active {
    background-color: #FED1D1;
}

.list-dogs {
    display: grid;
    justify-items: center;
    height: var(--height-cont-dog, 23vw);
    grid-template-columns: repeat(3, 26vw);
    grid-auto-rows: var(--height-cont-dog, 23vw);
    grid-row-gap: 2vw;
    overflow: hidden;
    transition: 1s;
}

.list-dog {
    display: inline-block;
    vertical-align: top;
    width: var(--width-cont-dog, 24.4vw);
}

.dog {
    border: solid .2vw #6A4162;
    border-radius: 1vw;
    text-align-last: auto;
    z-index: 1;
}

.dog:hover {
    width: var(--width-cont-dog, 24.4vw);
    background-color: #fed1d1;
    position: absolute;
    transform: scale(1.05);
}

.images {
    position: relative;
    border-radius: .8vw;
    overflow: hidden;
}

.arrow-dog {
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    height: 2vw;
    top: 40%;
    opacity: 60%;
}

.arrow-dog:hover {
    transform: scale(1.3);
    opacity: 100%;
}

.images:hover .arrow-dog {
    visibility: visible;
}

.next-img {
    right: 0;
}

.previous-img {
    left: 0;
    transform: rotate(180deg);
}

.previous-img:hover {
    transform: scale(1.3) rotate(180deg);
}

.img-line {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-auto-rows: var(--height-img-dog, 18vw);
    justify-items: center;
    transition: all ease 1s;
}

.img-dog, .video-dog {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.info-dog {
    text-align: center;
    max-width: var(--width-dog, 24vw);
}

span.name-dog {
    display: inline-block;
    margin: .4vw;
    padding: .4vw;
    background-color: #FED1D1;
    border: solid .2vw;
    border-radius: .6vw;
    font-size: 1vw;
}

span.name-dog .icon {
    font-size: 1.1vw;
}


.desc-dog {
    display: none;
    text-align: left;
    font-size: 1.1vw;
    padding: 0 2vw 1vw 2vw;
}

.char-p {
    display: grid;
    grid-template-columns: 9% repeat(2, 40%);
    grid-column-gap: 1vw;
    padding: 0 .6vw;
    align-items: end;
    border-bottom: solid .1vw;
    border-bottom-color: rgba(106, 65, 98, 0.5);
    border-radius: .6vw;
    font-size: .8vw;
}

.char-p:hover {
    transform: scale(1.1);
}

.char-p .icon {
    font-size: 2vw;
}

.char-val a {
    color: #56348a;
    text-decoration-line: underline;
}

.char-val a:hover {
    text-decoration-line: none;
}

.char-name {
    font-weight: normal;
}

.dog .bottom-dog {
    display: none;
}

.dog:hover .desc-dog {
    display: grid;
    grid-row-gap: 0.2vw;
    z-index: 1;
}
/*-------------------------------------------------End Dog------------------------------------------------------------*/

/*-----------------------------------------------Photogallery---------------------------------------------------------*/
.photogallery {
    position: relative;
    padding: 0 2vw 2vw;
}

.gallery {
    width: 68vw;
    margin: auto;
    overflow: hidden;
}

.gallery-list {
    white-space: nowrap;
    height: 15vw;
    transition: 1s;
}

.block-img {
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    width: 20.4vw;
    margin: 1vw 1vw 0;
}

.block-img img {
    width: 20vw;
    border: solid .2vw #6A4162;
    border-radius: 1vw;
}

.block-img img:hover {
    position: absolute;
    transform: scale(1.05);
}

.gallery-arrow {
    position: absolute;
    width: 5vw;
    top: 25%;
    right: 0;
    cursor: pointer;
    opacity: 60%;
}

.gallery-arrow:hover {
    opacity: 100%;
    transform: scale(1.05);
}

.gallery-previous {
    transform: rotate(180deg);
    left: 0;
}

.gallery-previous:hover {

    transform: rotate(180deg) scale(1.05);
}
/*----------------------------------------------End Photogallery------------------------------------------------------*/

/*---------------------------------------------------Footer-----------------------------------------------------------*/
footer {
    background: rgba(254, 209, 209, 0.6);
    padding: 2vw;
}

.left-footer, .right-footer {
    display: inline-block;
    width: 59%;
    font-size: 2vw;
}

.footer-title {
    font-size: 2.3vw;
    margin-bottom: 2vw;
}

.footer-contacts{
    display: grid;
    grid-template-columns: 35% auto;
    font-size: 1.5vw;
}

.footer-contact {
    display: inline-block;
}

.footer-contact ul {
    display: grid;
    grid-auto-rows: 4vw;
    align-items: center;
}

.icon.PhoneCall {
    font-weight: bold;
}

.footer-contact .soc .icon {
    font-size: 2vw;
    height: 2.3vw;
    width: 2.3vw;
}

.soc-name {
    text-decoration-line: underline;
}

.soc-name:hover {
    text-shadow: 0 0 9px #6a416285;
    text-decoration-line: none;
}

.viber-icon {
    height: 1.8vw;
    width: 1.8vw;
}

.right-footer {
    width: 40%;
    text-align: right;
    vertical-align: bottom;
    font-size: 1vw;
    opacity: 50%;
}
/*---------------------------------------------End Footer-------------------------------------------------------------*/

/*------------------------------------------Adaptive settings---------------------------------------------------------*/
@media (max-width: 950px) {
    #header {
        background-image: url("/content/images/BackGround1.jpg");
        background-position-y: -30vw;
    }

    #menu-links .nav-logo {
        display: none;
    }

    #menu-links .nav-logo2 {
        display: flex;
    }

    .nav-logo2 {
        width: 7vw
    }

    .nav-main {
        width: 93vw;
    }

    .nav-main li {
        width: calc(87vw / 6 + var(--i));
    }
}

@media (max-width: 400px) {
    #header {
        background-position: center;
    }
}
/*---------------------------------------End Adaptive settings--------------------------------------------------------*/


