<main id="container">
    <hr class="linear">
    <section class="contents">
        <a class="label" id="about-us"></a>
        <h2 class="titles">О нас</h2>
        <div class="about-us">
            {% if config.a_us_t_image or config.a_us_t_paragraph or config.a_us_b_image or config.a_us_b_paragraph %}
                {% if config.a_us_t_image or config.a_us_t_paragraph %}
                <div class="my-text">
                    {% if config.a_us_t_image %}
                    <img class="MyPhoto" src="{{config.a_us_t_image}}" alt="Женщина с чихуахуа">
                    {% endif %}
                    <div class="text-about">
                    {% if config.a_us_t_paragraph %}
                        <p>
                            {{config.a_us_t_paragraph}}
                        </p>
                    {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if config.a_us_b_image or config.a_us_b_paragraph %}
                <div class="my-text">
                    <div class="text-about">
                    {% if config.a_us_b_paragraph %}
                        <p>
                            {{config.a_us_b_paragraph}}
                        </p>
                    {% endif %}
                    </div>
                    {% if config.a_us_b_image %}
                    <img class="sert" src="{{config.a_us_b_image}}" alt="Сертификат">
                    {% endif %}
                </div>
                {% endif %}
            {% else %}
                <div class="my-text"">
                    <p>Нет информации</p>
                </div>
            {% endif %}
        </div>
    </section>


    <hr class="linear">
    <section class="contents">
        <a class="label" id="dogs-all"></a>
        <h2 class="titles">Все Пёсики</h2>
        <div class="content">
            {% set gender, age, sale = "all", "all", "all" %}
            {% include "LendingApp/includes/dog.html" %}
        </div>
    </section>


    <hr class="linear">
    <section class="contents">
        <a class="label" id="dogs-puppies"></a>
        <h2 class="titles">Пёсики на продажу</h2>
        <div class="content">
            {% set gender, age, sale = "all", "all", "Да" %}
            {% include "LendingApp/includes/dog.html" %}
        </div>
    </section>
    <hr class="linear">
    <section class="contents">
        <a class="label" id="dogs-girls"></a>
        <h2 class="titles">Наши девочки</h2>
        <div class="content">
            {% set gender, age, sale = "female", "all", "all" %}
            {% include "LendingApp/includes/dog.html" %}
        </div>
    </section>
    <hr class="linear">
    <section class="contents">
        <a class="label" id="dogs-boys"></a>
        <h2 class="titles">Наши мальчики</h2>
        <div class="content">
            {% set gender, age, sale = "male", "all", "all" %}
            {% include "LendingApp/includes/dog.html" %}
        </div>
    </section>
    <hr class="linear">
    <section class="contents">
        <a class="label" id="dogs-babies"></a>
        <h2 class="titles">Наши детки</h2>
        <div class="content">
            {% set gender, age, sale = "all", "puppy", "all" %}
            {% include "LendingApp/includes/dog.html" %}
        </div>
    </section>
    <hr class="linear">
    <section class="contents">
        <a class="label" id="photogallery"></a>
        <h2 class="titles">Фотогалерея</h2>
        <div class="photogallery">
            <img class="gallery-arrow gallery-previous" src="{{ static('images/arrow_right.svg') }}" alt="Предыдущая">
            <img class="gallery-arrow gallery-next" src="{{ static('images/arrow_right.svg') }}" alt="Следующая">
            <div class="gallery">
                <ul class="gallery-list">
                    {% if gallery %}
                        {% for image in gallery %}
                            <li class="block-img">
                                <img src='{{image.small_image.url}}' alt='{{image.image_name}}'>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>

</main>