{% if chihuahuas %}
{#    <img class="dog-slide dog-previous" src="{{ static('images/arrow_right.svg') }}" alt="Предыдущая">#}
    <span class="but-all open-dogs">Показать</span>
    <span class="but-all close-dogs">Скрыть</span>
    <ul class="list-dogs">
        {% for dog in chihuahuas %}
            {% if (dog.gender == gender or gender == "all") and (dog.age == age or age == "all") and (dog.sale == sale or sale == "all") %}
                <li class="list-dog">
                    <div class="dog">
                        <div class="images">
                            {% if dog.images.all() %}
                                <div class="img-line">
                                    {% for img in dog.images.all() %}
                                    <img src="{{ img.small_image.url }}" alt="{{ dog.name }}" class="img-dog">
                {#                    <img src="{{ dog.images.all()[0].small_image }}" alt="{{ dog.name }}" class="img-dog">#}
                                    {% endfor %}
                                </div>
                                <img class="arrow-dog previous-img" src="{{ static('images/arrow_right.svg') }}" alt="Предыдущая">
                                <img class="arrow-dog next-img" src="{{ static('images/arrow_right.svg') }}" alt="Следующая">
                            {% else %}
                                <img src="{{ static('images/no_photo.jpg') }}" alt="{{ dog.name }}" class="img-dog">
                            {% endif %}
                        </div>

                        <div class="info-dog">

                            <span class="{{ dog.gender }}">
                                {{ dog.name }}
                                <img src="/content/images/icons/{{ dog.gender }}.png" alt="{{ dog.gender }}">
                            </span>
                            <div class="desc-dog">
                                {% for charact in character %}
                                    <p>
                                        <img class='field-icon' src="/content/images/icons/{{ character[charact] }}.png" alt="not found!">
                                        {{ charact }}: <b>{{ dog[character[charact]] }}</b>
                                    </p>
{#                                    <p>На продажу: <b>{{ dog.sale }}</b></p>#}
{#                                    <p>В резерве: <b>{{ dog.reserve }}</b></p>#}
{#                                    <p>Зубки: <b>{{ dog.teeth }}</b></p>#}
{#                                    <p>Окрас: <b>{{ dog.color }}</b></p>#}
{#                                    <p>Дата рождения: <b>{{ dog.birth_date }}</b></p>#}
{#                                    <p>Папа: <b>{{ dog.father }}</b></p>#}
{#                                    <p>Мама: <b>{{ dog.mother }}</b></p>#}
                                {% endfor %}
                                <p>
                                    <img class='field-icon' src="/content/images/icons/pedigree.png" alt="not found"/>
                                    Родословная: <b><a href="{{ dog.pedigree_link }}">{{ dog.pedigree }}</a></b>
                                </p>
                            </div>

                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{#    <img class="dog-slide dog-next" src="{{ static('images/arrow_right.svg') }}" alt="Следующая">#}
{% else %}
    <p>Нет собак</p>
{% endif %}
