{% if chihuahuas %}
{#    <img class="dog-slide dog-previous" src="{{ static('images/arrow_right.svg') }}" alt="Предыдущая">#}
    <div class="but-all-content">
        <span class="but-all open-dogs">Показать</span>
        <span class="but-all close-dogs">Скрыть</span>
    </div>
    <ul class="list-dogs">
        {% for dog in chihuahuas %}
            {% if (dog.gender == gender or gender == "all") and (dog.age == age or age == "all") and (dog.sale == sale or sale == "all") %}
                <li class="list-dog">
                    <div class="dog">
                        <div class="images">
                            {% if dog.images.all() or dog.video %}
                                <div class="img-line">
                                    {% for img in dog.images.all() %}
                                    <img class="img-dog" src="{{ img.small_image.url }}" alt="{{ dog.name }}">
                {#                    <img src="{{ dog.images.all()[0].small_image }}" alt="{{ dog.name }}" class="img-dog">#}
                                    {% endfor %}
                                    {% if dog.video %}
                                        <video class="video-dog" preload="none" loop="loop" controls>
                                            <source src="{{ dog.video }}" type='video/mp4'>
                                        </video>
                                    {% endif %}
                                </div>
                                {% if dog.images.all()|length > 1 or dog.video and dog.images.all() %}
                                    <img class="arrow-dog previous-img" src="{{ static('images/arrow_right.svg') }}" alt="Предыдущая">
                                    <img class="arrow-dog next-img" src="{{ static('images/arrow_right.svg') }}" alt="Следующая">
                                {% endif %}
                            {% else %}
                                <div class="img-line">
                                    <img class="img-dog" src="{{ static('images/no_photo.jpg') }}" alt="{{ dog.name }}">
                                </div>
                            {% endif %}
                        </div>

                        <div class="info-dog">

                            <span class="name-dog">
                                {{ dog.name }}
                                <i class="icon {{ dog.gender }}"></i>
                            </span>
                            <div class="desc-dog">
                                {% for charact in character %}
                                    <p class="char-p">
                                        <i class='desc-char icon {{ character[charact] }}'></i>
                                        <span class="desc-char char-name">{{ charact }}:</span>
                                        <span class="desc-char char-val">{{ dog[character[charact]] }}</span>
                                    </p>
                                {% endfor %}
                                <p class="char-p">
                                    <i class='icon pedigree'></i>
                                    <span class="desc-char char-name">Родословная:</span>
                                    <span class="desc-char char-val"><a href="{{ dog.pedigree_link }}">{{ dog.pedigree }}</a></span>
                                </p>
                            </div>

                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{#    <img class="dog-slide dog-next" src="{{ static('images/arrow_right.svg') }}" alt="Следующая">#}
{% else %}
    <p>Нет собак</p>
{% endif %}
