<footer id="contact">
    <div class="left-footer">
        <p class="footer-title">{{ config.footer_title }}</p>
        <p class="contacts-title">Наши контакты:</p>
        <div class="footer-contacts">
            <div class="footer-contact">
                <ul>
    {#                First phone number#}
                    <li class="footer-tel">
                        {% if config.phone %}
                            <a href="tel:{{ config.first_phone }}">
                                <i class="icon PhoneCall"></i>
    {#                            <img src="{{ static('images/PhoneCall.svg') }}" alt="">#}
                                {{ config.first_phone }}
                            </a>
                        {% else %}
                            <a href="tel:+38(093)-378-34-41">
                                <i class="icon PhoneCall"></i>
                                <img src="{{ static('images/PhoneCall.svg') }}" alt="">
                                +38(093)-378-34-41
                            </a>
                        {% endif %}
                    </li>

    {#                Second phone number#}
                    <li class="footer-tel">
                        {% if config.second_phone %}
                            <a href="tel:{{ config.second_phone }}">
                                <i class="icon PhoneCall"></i>
    {#                            <img src="{{ static('images/PhoneCall.svg') }}" alt="">#}
                                {{ config.second_phone }}
                            </a>
                        {% else %}
                            <a href="tel:+38(093)-378-34-41">
                                <i class="icon PhoneCall"></i>
                                <img src="{{ static('images/PhoneCall.svg') }}" alt="">
                                +38(093)-378-34-41
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="footer-contact">
            <ul>
{#                FaceBook#}
                <li class="soc">
                    <a class="icon facebook" href="{{ link_face }}" target="_blank" title="Фейсбук"></a>
                    <a class="soc-name" href="{{ link_face }}">{{ config.face_name }}</a>
                </li>
{#                Instagram#}
                <li class="soc">
                    <a class="icon instagram" href="{{ link_inst }}" target="_blank" title="Инстаграм"></a>
                    <a class="soc-name" href="{{ link_inst }}">{{ config.inst_name }}</a>
                </li>
            </ul>
            </div>
        </div>
    </div>

    <div class="right-footer">
        <p>ChiHuashki.com.ua © 2021</p>
    </div>

</footer>