<footer id="contact">
    <div class="left-footer">
        <p class="footer-title">{{ config.footer_title }}</p>
        <p class="contacts-title">Наши контакты:</p>
        <div class="footer-contacts">
            <div class="footer-contact">
                <ul>
    {#                First phone number#}
                    {% if config.first_phone %}
                    <li class="footer-tel">
                            {% if config.first_viber_flag == 'Да' %}
                                <img src="{{ static('images/icons/viber.svg') }}" class="viber-icon" alt="(Viber)">
                            {% endif %}
                            <a href="tel:{{ config.first_phone }}">
                                <i class="icon PhoneCall"></i>
                                {{ config.first_phone }}
                            </a>
                    </li>
                    {% else %}
                    {% endif %}

    {#                Second phone number#}
                    {% if config.second_phone %}
                    <li class="footer-tel">
                            {% if config.second_viber_flag == 'Да' %}
                                <img src="{{ static('images/icons/viber.svg') }}" class="viber-icon" alt="(Viber)">
                            {% endif %}
                            <a href="tel:{{ config.second_phone }}">
                                <i class="icon PhoneCall"></i>
                                {{ config.second_phone }}
                            </a>
                    </li>
                    {% else %}
                    {% endif %}
                </ul>
            </div>
            <div class="footer-contact">
            <ul>

{#                FaceBook#}

                <li class="soc">
                    <a class="icon facebook" href="{{ link_face }}" target="_blank" title="Фейсбук"></a>
                    {% if config.face_name %}
                        <a class="soc-name" href="{{ link_face }}">{{ config.face_name }}</a>
                    {% else %}
                    {% endif %}
                </li>


{#                Instagram#}
                <li class="soc">
                    <a class="icon instagram" href="{{ link_inst }}" target="_blank" title="Инстаграм"></a>
                    {% if config.inst_name %}
                        <a class="soc-name" href="{{ link_inst }}">{{ config.inst_name }}</a>
                    {% else %}
                    {% endif %}
                </li>
            </ul>
            </div>
        </div>
    </div>

    <div class="right-footer">
        <p>ChiHuashki.com.ua © 2021</p>
    </div>

</footer>