{% block head %}
{% include "LendingApp/includes/head.html" %}
{% endblock %}

<body>
    {% set link_face = config.facebook if config.facebook else "https://afly.co/dwz4jrhc5i" %}
    {% set link_inst = config.inst if config.inst else "https://afly.co/dx14pyh16i" %}
    <div id="page">
        {% block header %}
        {% include "LendingApp/includes/header.html" %}
        {% endblock %}

        {% block content %}
        {% include "LendingApp/includes/content.html" %}
        {% endblock %}

        {% block footer %}
        {% include "LendingApp/includes/footer.html" %}
        {% endblock %}
    </div>

    {% block scripts %}
    <script src="{{ static('/js/script.js') }}"></script>
    {% endblock %}
</body>