{% extends "LendingApp/wrapper.html" %}


{% block content %}
<main id="container">
    <hr class="linear">
    <section class="contents">
        <h2 class="titles" id="about-us">О нас</h2>
        <div class="about-us">
            {% if config.a_us_t_image or config.a_us_t_paragraph or config.a_us_b_image or config.a_us_b_paragraph %}
                {% if config.a_us_t_image or config.a_us_t_paragraph %}
                <div class="my-text">
                    {% if config.a_us_t_image %}
                    <img class="MyPhoto" src="{{config.a_us_t_image}}" alt="Женщина с чихуахуа">
                    {% endif %}
                    <div class="text-about">
                    {% if config.a_us_t_paragraph %}
                        <p>
                            {{config.a_us_t_paragraph}}
                        </p>
                    {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if config.a_us_b_image or config.a_us_b_paragraph %}
                <div class="my-text">
                    <div class="text-about">
                    {% if config.a_us_b_paragraph %}
                        <p>
                            {{config.a_us_b_paragraph}}
                        </p>
                    {% endif %}
                    </div>
                    {% if config.a_us_b_image %}
                    <img class="sert" src="{{config.a_us_b_image}}" alt="Сертификат">
                    {% endif %}
                </div>
                {% endif %}
            {% else %}
                <div class="my-text" style="text-align: center; min-height: 10px">
                    <p>Нет информации</p>
                </div>
            {% endif %}
        </div>
    </section>


<!--    <hr class="linear">-->
<!--    <section class="contents">-->
<!--        <h2 class="titles" id="dogs-all">Все Пёсики</h2>-->
<!--        <div class="content">-->
<!--            {% include "LendingApp/includes/dog.html" with gender="all" age="all" sale="all" %}-->
<!--        </div>-->
<!--    </section>-->


    <hr class="linear">
    <section class="contents">
        <h2 class="titles" id="dogs-puppies">Пёсики на продажу</h2>
        <div class="content">
            {% include "LendingApp/includes/dog.html" with gender="all" age="all" sale='Да' %}
        </div>
    </section>
    <hr class="linear">
    <section class="contents">
        <h2 class="titles" id="dogs-girls">Наши девочки</h2>
        <div class="content">
            {% include "LendingApp/includes/dog.html" with gender='suka' age="all" sale="all" %}
        </div>
    </section>
    <hr class="linear">
    <section class="contents">
        <h2 class="titles" id="dogs-boys">Наши мальчики</h2>
        <div class="content">
            {% include "LendingApp/includes/dog.html" with gender='kobel' age="all" sale="all" %}
        </div>
    </section>
    <hr class="linear">
    <section class="contents">
        <h2 class="titles" id="dogs-babies">Наши детки</h2>
        <div class="content">
            {% include "LendingApp/includes/dog.html" with gender="all" age='puppy' sale="all" %}
        </div>
    </section>
    <hr class="linear">
    <section class="contents">
        <h2 class="titles" id="photogallery">Фотогалерея</h2>
        <div class="photogallery">
            {% if gallery %}
                {% for image in gallery %}
            <img src='{{image.small_image.url}}' alt='{{image.image_name}}' width='100'>
                {% endfor %}
            {% endif %}
        </div>
    </section>

</main>
{% endblock %}