<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>ChiHuashki</title>
    <link rel="stylesheet" type="text/css" href="{% static '/LendingApp/css/style.css' %}">
</head>
<body>
    <div id="page">
        <header class="header">
            <div id="menu">
                <div class="menu-list">
                    <nav id="menu-links">
                        <a class="nav-logo" href="">ChiHuashki.com.ua</a>
                        <ul class="nav-main">
                            <li><a href="">О нас</a></li>
                            <li><a href="">Щенки на продажу</a></li>
                            <li><a href="">Наши девочки</a></li>
                            <li><a href="">Наши мальчики</a></li>
                            <li><a href="">Наши детки</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="container">
                dddd
            </div>
        </div>
        <footer></footer>
    </div>
</body>
</html>