<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--                {% block content %}-->
<!--                    {% if chihuahuas %}-->
<!--                        {% for dog in chihuahuas %}-->
<!--                            {% if dog.photo %}-->
<!--                                <img src="{{ dog.photo }}" alt="{{ dog.name }}" width="300">-->

<!--                            {% else %}-->
<!--                                <img src="{% static '/images/no_photo.jpg' %}" alt="{{ dog.name }}" width="300">-->

<!--                            {% endif %}-->
<!--                        {% endfor %}-->
<!--                    {% else %}-->
<!--                        Нет чишек-->
<!--                    {% endif %}-->
<!--                {% endblock %}-->

</body>
</html>