<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChiHuashki</title>
    <meta property="og:title" content="ChiHuashki">
<!--    <base href="/">-->  <!-- нужно для определения базового href -->
    <meta name="description" content="Интернет магазин по продаже чихуахуа">
    <meta property="og:description" content="Интернет магазин по продаже чихуахуа">
    <meta name="keywords" content="купить чихуахуа, чихуахуа, щенки, собаки">
    <meta property="og:image" content="{% static '/images/no_photo.jpg' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% static '/images/favicon.ico' %}" rel="icon">
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="page">
        <header id="header">
            <nav id="menu-links">
                <a class="nav-logo navigate" href="#header">ChiHuashki.com.ua</a>
                <ul class="nav-main">
                    <li style="--i:-7vw;"><a class="navigate" href="#about-us">О нас</a></li>
                    <li style="--i:2vw;"><a class="navigate" href="#dogs-puppies">Щенки на продажу</a></li>
                    <li style="--i:-1vw;"><a class="navigate" href="#dogs-girls">Наши девочки</a></li>
                    <li style="--i:0vw;"><a class="navigate" href="#dogs-boys">Наши мальчики</a></li>
                    <li style="--i:-3vw;"><a class="navigate" href="#dogs-babies">Наши детки</a></li>
                </ul>
            </nav>

            <div id="head-inform">
                <h1 class="tex">Выбери себе нового друга!</h1>

                <div class="tel">
                    <a href="">
                        <img src="{% static 'images/PhoneCall.svg' %}" alt="">
                        099-530-17-34
                    </a>
                </div>

                <div class="soc">
                    <a href="" class="ins"></a>
                    <a href="" class="face"></a>
                </div>
            </div>
        </header>


        {% block content %}

        {% endblock %}



        <a class="navigate" id="topChi" href="#header" style="display: none" title="Вернуться к началу страницы">Вверх</a>

        <footer>
            <div class="copyright">
                <div class="container">
                    ChiHuashki.com.ua © 2020
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static '/js/script.js' %}"></script>
</body>
</html>