{% load static %}


{% for dog in chihuahuas %}
    {% if dog.gender == gender or gender == "all" %}
    {% if dog.age == age or age == "all" %}
    {% if dog.sale == sale or sale == "all" %}
    <div class="dog">

        {% if dog.images.all.0 %}
        <img src="{{ dog.images.all.0.small_image }}" alt="{{ dog.name }}" class="img-dog">
        {% else %}
        <img src="content/images/no_photo.jpg" alt="{{ dog.name }}" class="img-dog">
        {% endif %}

        <div class="info-dog">

            {% if dog.gender == 'suka' %}
            <span class="female">{{ dog.name }}</span>
            {% else %}
            <span class="male">{{ dog.name }}</span>
            {% endif %}


            <div class="desc-dog">
                <p>На продажу: <b>{{ dog.sale }}</b></p>
                <p>В резерве: <b>{{ dog.reserve }}</b></p>
                <p>Зубки: <b>{{ dog.teeth }}</b></p>
                <p>Окрас: <b>{{ dog.color }}</b></p>
                <p>Дата рождения: <b>{{ dog.birth_date }}</b></p>
                <p>Папа: <b>{{ dog.father }}</b></p>
                <p>Мама: <b>{{ dog.mother }}</b></p>
                <p>Родословная: <b><a href="{{ dog.pedigree_link }}">{{ dog.pedigree }}</a></b></p>
            </div>

        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
{% empty %}
No inform
{% endfor %}

