{% load static %}

<header id="header">
    <nav id="menu-links">
        <a class="nav-logo navigate" href="#header">ChiHuashki.com.ua</a>
        <ul class="nav-main">
            <li style="--i:-7vw;"><a class="navigate" href="#about-us">О нас</a></li>
            <li style="--i:2vw;"><a class="navigate" href="#dogs-puppies">Пёсики на продажу</a></li>
            <li style="--i:-1vw;"><a class="navigate" href="#dogs-girls">Наши девочки</a></li>
            <li style="--i:0vw;"><a class="navigate" href="#dogs-boys">Наши мальчики</a></li>
            <li style="--i:-3vw;"><a class="navigate" href="#dogs-babies">Наши детки</a></li>
        </ul>
    </nav>

    <div id="head-inform">
        <h1 class="tex">Выбери себе нового друга!</h1>

        <div class="tel">
            <a href="">
                <img src="{% static 'images/PhoneCall.svg' %}" alt="">
                099-530-17-34
            </a>
        </div>

        <div class="soc">
            <a href="https://afly.co/dx14pyh16i" target="_blank" class="ins"></a>
            <a href="https://afly.co/dwz4jrhc5i" target="_blank" class="face"></a>
        </div>
    </div>
</header>

